<%- layout("template1")%>
<% include profile_header.ejs %>

<div class="row container-hd">
    <% include side_menu.ejs %>
    <div class="col-lg-5 col-lg-offset-2 img-frame">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-bordered">
                    <caption>Your Post will appear in a Frame like this</caption>
                    <form method="post">
                        <%include ../partials/error.ejs%>
                        <%include ../partials/success.ejs%>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="text" class="form-control" name="title" placeholder="Type picture title" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="<%=path1%>" class="img-responsive">
                            </td>
                            <td>
                                <img src="<%=path2%>" class="img-responsive">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-sm btn-block btn-primary" href="/user/post">Change Picture</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-block btn-primary" href="/user/post-2">Change Picture</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" name="ext1" value="<%=ext1%>" />
                                <input type="hidden" name="ext2" value="<%=ext2%>" />
                                <input type="hidden" name="postId" value="<%=postId%>" />
                                <input type="hidden" name="username" value="<%=user.username%>" />
                                <input type="hidden" name="posterId" value="<%=user._id%>" />
                                <button type="submit" class="btn btn-success btn-lg btn-block" name="post">
                                    Post
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
    </div>
</div>
