<%- layout("template1")%>
<div class="row">
    <h2><%=user.name.fname%> <%=user.name.lname%></h2>
    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
            <div class="col-xs-5 col-sm-4" >
                <img src="/uploads/default.jpg" class="img-responsive">
            </div>
            <div class="col-xs-7 col-sm-8">
                <p style="margin:0px;font-size:12px"><%=user.username%></p>
                <p style="margin:0px;font-size:12px"><a href="/user/profile">View Profile </a></p>
                <p style="margin:0px;font-size:12px"><a href="/user/update-profile">Edit Profile</a>| <a href="/logout">Logout</a></p>
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
            <form role="form" name="mailform" class="form-horizontal" action="Search_Mail_Result.php" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-3">Enter Description</label>
                    <div class="col-xs-7">
                        <input type="text" required class="form-control" id="inputEmail" name="searchmail" placeholder="Enter Your Description to Search">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                        <button type="submit" name="submitsearch" class="btn btn-success">Search Mail</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row container-hd">
    <div  class="col-lg-4 leftnavy">
        <div class="nav-head"><h4>Fast Links</h4></div>
        <div class="list-group show" style="margin-bottom:50px;line-height:5px; display: list-item">
            <a href="/user/post" class="list-group-item">New Post</a>
            <a href="#" class="list-group-item">My Posts</a>
            <a href="#" class="list-group-item">Saved posts</a>
        </div>

    </div>
    <div class="col-lg-4" style="border: groove 5px darkgray">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <caption>Upload Second Picture</caption>
                    <% if(message.length>0) {%>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times</span>
                        </button>
                        <%=message%>
                    </div>
                    <%}%>
                    <form method="post" action="/user/post-2" enctype="multipart/form-data">
                        <tr>
                            <td align="center">
                                <img src="<%=path1%>" class="img-responsive">

                            </td>
                            <td align="center">
                                <img src="<%=path2%>" class="img-responsive">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" name="postId" value="<%= count %>" />
                                <input type="file" name="picture2" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary btn-lg btn-block" name="vote1" value="vote2">
                                    Upload
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <h4>
            Express your feelings while you can
        </h4>
    </div>
</div>
