<%- layout("template1") %>
<% include profile_header.ejs %>

<div class=" row container-hd">
    <% include side_menu.ejs %>
    <div class="col-sm-6 col-md-6 col-lg-7 col-lg-offset-1">
        <div class="row profile-page-content-wrapper">
            <p class="text-center profile-page-content-header">
                <span>
                    <%= user.username %> - You are in Your profile
                </span>
                <a class="btn btn-primary btn-sm" href="/user/update-profile">
                    Update Profile
                </a>
            </p>
            <div class="col-lg-12 profile-page-content">
                <div class="col-lg-3" style="margin-bottom:0%">
                    <p><img src="/uploads/default.jpg" class="img-responsive">
                </div>
                <div class="col-lg-9" style="margin-bottom:0%">

                    <table class="table table-condensed" style="background-color:#FFFFFF;">
                        <tbody>
                        <tr>
                            <td>Name :</td>
                            <td colspan="2"><%= user.name.fname %>  <%= user.name.lname %></td>
                        </tr>
                        <tr>
                            <td>Username :</td>
                            <td colspan="2"><%= user.username %></td>
                        </tr>
                        <tr>
                            <td>Email :</td>
                            <td colspan="2"><%= user.email %></td>
                        </tr>
                        <tr>
                            <td>Phone NO :</td>
                            <td colspan="2"><%= user.phone %></td>
                        </tr>
                        <tr>
                            <td>Gender :</td>
                            <td colspan="2"><%= user.sex %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
