<%- layout('template1.ejs') %>
<% include profile_header.ejs %>
<div class=" row container-hd">
    <div class="col-lg-12 no-padding">
        <% include side_menu.ejs %>
        <div class="col-sm-6 col-md-6 col-lg-9">
            <div class="row update-profile-page-wrapper">
                <p>
                    <span>
                        <%= user.username %> - Update Your profile</span>
                    <a class="btn btn-sm btn-primary" href="/user/profile">View Profile</a>
                </p>

                <div class="col-lg-12 update-profile-content-wrapper">
                    <div class="row">
                        <div class="col-lg-4 update-picture-wrapper">
                            <form id="imageform" method="post" enctype="multipart/form-data" action='/user/upload'>
                                <div class="row" style="margin-bottom:10%" id="preview">
                                    <img src="/uploads/default.jpg" class="img-responsive">
                                </div>
                                <div class="row">
                                    <input type="file" name="photoimg" value="browse" id="photoimg"/><br/>
                                    <input class="btn btn-primary btn-block" type="submit"
                                           formaction="/user/upload-2" value="Upload"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-7 update-profile-form-wrapper">
                            <% include ../partials/error.ejs %>
                            <% include ../partials/success.ejs %>
                            <form role="form" class="form-horizontal" method="POST" name="update">
                                <table class="table table-condensed" style="background-color:#FFFFFF;">
                                    <tbody>
                                    <tr>
                                        <td style="width:45%">
                                            <input style="width:100%" type="text" value="<%= user.name.lname %>" name="lname"/>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:45%">
                                            <input style="width:100%" type="text" value="<%= user.name.fname %>" name="fname"/>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:45%">
                                            <input style="width:100%" type="text" disabled value="<%= user.username %>" name="username"/>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:45%">
                                            <input style="width:100%" type="text" value="<%= user.email %>" name="email"/>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:45%">
                                            <input style="width:100%" type="text" value="<%= user.phone %>" name="phone"/>
                                        </td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%">
                                            <select style="width:60%" type="text"
                                                    name="sex">
                                                <option value="<%= user.sex === 'male'? 'male' : 'female'%>">
                                                    <%= user.sex == 'male'? 'Male' : 'Female'%>
                                                </option>
                                                <option value="<%= user.sex === 'male'? 'female' : 'male'%>">
                                                    <%= user.sex == 'male'? 'Female' : 'Male'%>
                                                </option>
                                            </select>
                                        <td colspan="2">
                                            <input class="btn-block" type="submit" value="Update" name="submit"/></td>
                                    </tr>
                                    <tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
